/* CSS */

#container {
  margin-left: 12px;
}
.crystal {
  padding: 1px;
   height: 52px;
    width:  52px;
}
:root {
	--bg: #3C465C;
	--primary: #78FFCD;
	--solid: #fff;
	--btn-w: 4em;
	--dot-w: calc(var(--btn-w)*.2);
	--tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

.btn {
	position: relative;
	margin: 0 auto;
	width: 80%;
	color: var(--primary);
	border: .15em solid var(--primary);
	border-radius: 4em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	line-height: 2em;
	cursor: pointer;
}
.btn:hover .dot,
.btn:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
}
@keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(var(--tr-X)) rotate(0);}
	50% {transform: translateX(var(--tr-X)) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
	100% {transform: translateX(0) rotate(360deg);}
}
